@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
  
body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    height: 50px;
    width: 300px;
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;

    overflow: hidden;
    display: flex;
}

.strong-title{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    font-weight: 800;
    text-align: right;
    animation: subir 5s infinite;
}
@keyframes subir {
    0%{ margin-top: 0;}
    40%{ margin-top: 0;}
    
    45%{ margin-top: -50px;}
    90%{ margin-top: -50px;}
    
}

.scnd-title {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    text-align: left;
    animation: bajar 5s infinite;
}

@keyframes bajar {
    0%{ margin-top: -50px;}
    45%{ margin-top: -50px;}
    
    50%{ margin-top: 0;}
    95%{ margin-top: 0;}

    100%{ margin-top: -50px;}
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 12px;
    box-shadow: 4px 14px 23px 0px rgba(0,0,0,0.1);        
    background-color: #1e97e3;

}
.card {
    background: #293466;
    width: 100%;
    height: 100%;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}
.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color   1s;
}
.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
}
.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
}
  
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-top: 50px;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}
a {
    color: #daeaf1;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    margin-top: 2rem;
    transition: opacity .2s;
  }

  a:hover {
    animation: spin 2.5s linear infinite;
    opacity: 0.2;
  }  


<<<<<<< HEAD
>>>>>>> 7874e80f186e96119b94e3038c6506e8d45f5f9f
=======
>>>>>>> 9068b0c9242cae0e0e269d4ae51ece558673e7d7

.footer{
    position: bottom;
    width: 100%;
    text-align: justify;
    padding: 0px 10px;
    display: flex;
}