body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 12px;
    box-shadow: 4px 14px 23px 0px rgba(0,0,0,0.1);        
    background-color: #1e97e3;

}
.first {
    background-color: #1e97e3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;

    margin-top: 50px;
    
}