* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    display: grid;
    place-items: center;
    color: #fff;
}

section {
    height: 70%;
    width: 45%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

h4 {
    position: relative;
    left: 20%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: grid;
    place-items: center;
}

